/*
========================================
Global
========================================
*/
html {
   box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
  list-style-type: none;
  
}
  
body {
  font-family: verdana, arial, sans-serif, helvetica;
  background-color: rgb(239, 234, 234);
  font-size: 8pt;
  margin: 0;
}
  
a {
  font-weight: bold;
  text-decoration: none;
}
  
a:link {
  color: #009957;
}
  
a:visited {
  color: #009957;
}
  
a:hover {
  text-decoration: underline;
  color: #cc0000;
}
  
h2 {
  font-size: 9pt;
  margin: 0;
  font-weight: bold;
}
  
p {
  line-height: 1.3;
}

/*
========================================
Tabs
========================================
*/

.tabs {
  font-size: 0;
  margin: auto;
  margin-bottom:10px;
  width: 915px;
}

.myspace-button {
  border: 1px solid rgb(0, 153, 106);
  padding: 10px 24px;
  border-radius: 0px;
  background-color: white;
  font-size: 15px;
}

.myspace-button:hover {
  color: rgb(102, 204, 151);
}

.facebook-button {
  border: 1px solid rgb(0, 153, 106);
  border-left: 0px solid rgb(0, 153, 106);
  padding: 10px 24px;
  border-radius: 0px;
  background-color: rgb(239, 234, 234);
  font-size: 15px;
}

.facebook-button:hover {
  color: rgb(102, 204, 151)
}
  
/*
========================================
Master Container
========================================
*/
.master-container {
  margin: auto;
  width: 915px;
  background-color: white;
}
  
/*
========================================
Main Header
========================================
*/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  background-color: rgb(0, 153, 106);
  color: #ffffff;
}
  
.main-header ul {
  list-style-type: none;
}

.main-header a:link {
  color: #ffffff;
  font-weight: normal;
}
  
.main-header a:visited {
  color: #ffffff;
}
  
/*
========================================
Search Bar
========================================
*/
.search-bar {
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
}
  
.search-bar form {
  justify-self: center;
  margin: 0;
  margin-top: 1px;
}

.search-bar form [type="text"] {
  width: 160px;
}

.search-bar form [type="radio"] {
  margin-right: .33rem;
}

.search-bar ul {
  display: flex;
}

.submit-btn {
  margin: 8px;
  border: 1px solid black;
  padding: 2px 7px;
  background-color: #E0FFFF;
  font-size: 10px;
  border-color: rgb(186, 186, 186);
}

.topnav {
  padding: 0;
  margin: 8px;
  margin-top: 12px;
}

.topnav li:first-child::after {
  content: '|';
  margin: .33rem;
}

.home {
  justify-self: start;
}

.signup {
  justify-self: end;
}

/*
========================================
Navigation Bar
========================================
*/
.navbar {
  display: flex;
  align-items: center;
  margin-top: auto;
  background-color: rgb(102, 204, 151);
  height: 25px;
}

.navbar ul {
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.navbar li::after {
  content: '|';
  margin: .33rem;
  color: black;
}

.navbar li:last-child::after {
  content: '';
}

.navbar a:hover {
  color: #009954;
}

/*
========================================
Page Content Container
========================================
*/
.page-content-container {
  display: grid;
  grid-template-columns: 375px 453px;
  grid-column-gap: 45px;
  grid-template-areas: "sidebar main";
}
  
/*
========================================
Profile Sidebar Column
========================================
*/
.profile-sidebar {
  grid-area: sidebar;
  margin-left: 53px;
  width: 300px;
}

h1 {
  font-size: 12.25pt;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 0px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*
========================================
Profile Picture Container
========================================
*/
.profile-picture-container {
  display: grid;
  grid-template-columns: 170px 115px;
  grid-template-rows: 176px;
  grid-column-gap: 15px;
  margin-bottom: 12px;
}

.profile-picture-container p {
  margin: 0;
}

.profile-pic {
  grid-area: 1/1;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personal-msg {
  grid-area: 1/2;
  margin: 0;
}

.gender-age {
  grid-area: 1/2;
}

.gender-age li:first-child {
  margin-top: 28px;
}

.last-login {
  grid-area: 1/2;
  align-self: end;
}

.last-login li:last-child {
  margin-bottom: 15px;
}

.pics-videos {
  grid-area: 1/1;
  justify-self: center;
  align-self: end;
}

/*
========================================
Contact Box
========================================
*/
.contact-box {
  border: 2px solid rgb(102, 204, 148);
  height: 149px;
  width: 300px;
  margin-bottom: 24px;
}

.contact-box h2 {
  color: white;
  background-color: rgb(102, 204, 148);
  height: 17px;
  padding-left: 10px;
}

.contact-images {
  display: grid;
  grid-template-columns: 150px 150px;
  margin: 0;
  margin-top: 5px;
  margin-left: 10px;
}

/*
========================================
MySpace URL
========================================
*/
.myspace-url-box {
  border: 1px solid rgb(102, 204, 162);
  height: 26px;
  margin-bottom: 24px;
}

.myspace-url-box h3,
.myspace-url-box p {
  margin: 0;
  padding: 0;
}

.myspace-url-box h3 {
  font-size: 8pt;
  padding-left: 2px;
}

.myspace-url-box p {
  padding-left: 6px;
  ;
}

/*
========================================
Sidebar Table Class
========================================
*/
.sidebar-table {
  border: 2px solid rgb(102, 204, 158);
  display: table;
  border-collapse: separate;
  border-spacing: 3px;
}

.sidebar-table-h2 {
  background-color: rgb(102, 204, 155);
  color: white;
  text-align: left;
  height: 17px;
  padding-left: 15px;
  padding-top: 2px;
}

.sidebar-table-header {
  vertical-align: top;
  text-align: left;
  width: 107px;
  background-color: rgb(177, 240, 202);
  color: #339972;
  padding: 3px;
  font-weight: bold;
  font-size: 8pt;
}

.sidebar-table-data {
  width: 184px;
  background-color: rgb(213, 251, 233);
  padding: 3px;
}

/*
========================================
Interests
========================================
*/
.interests p {
  margin-top: 0;
}

.interests p:only-child,
.interests p:last-child {
  margin-bottom: 0;
}

.interests table {
  margin-bottom: 13px;
}

/*
========================================
Details
========================================
*/
.details table {
  margin-bottom: 22px;
}

/*
========================================
Schools
========================================
*/
.schools .sidebar-table-header {
  width: 228px;
  color: black;
  font-weight: normal;
}

.schools .sidebar-table-data {
  width: 63px;
  text-align: center;
  vertical-align: top;
}

.schools ul {
  margin-bottom: 2em;
}

/*
========================================
Main Column
========================================
*/
main {
  grid-area: main;
}

/*
========================================
User Network
========================================
*/
.user-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 433px;
  margin: auto;
  height: 75px;
  border: 2px solid black;
  margin-top: 13px;
}

.user-network h2 {
  font-size: 12pt;
}

/*
========================================
Blog
========================================
*/
.blog {
  display: grid;
  grid-auto-rows: 29px;
  flex-direction: column;
  margin-top: 13px;
  margin-left: 12px;
  margin-bottom: 16px;
}

.blog p {
  margin-top: 3px;
}

/*
========================================
Blurbs
========================================
*/
.main-section-header {
  background-color: #ffcc99;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 8px;
}

.main-section-h2 {
  color: #FF6600;
  margin-left: 20px;
}

.blurbs h3 {
  margin: 0;
  color: #FF6600;
  font-size: 9pt;
  margin-left: 15px;
}

.blurbs p:nth-of-type(5) {
  margin-bottom: 2em;
}

.blurbs p {
  margin: 0 10px 15px 15px;
}

.info {
  color: green;
  font-weight: bold;
}

/*
========================================
Friend Space
========================================
*/
.friends header {
  margin-bottom: 6px;
}

.friends p:nth-of-type(1) {
  margin-top: 0;
  margin-left: 15px;
}

.focus-highlight {
  color: #cc0000;
  font-weight: normal;
  font-size: 10pt;
}

.friend-pic-container {
  display: grid;
  grid-template-columns: repeat(4, 109px);
  grid-template-rows: 160px 193px;
}

.friend-pic-container figure {
  margin: 0;
}

.friend-pic-container figcaption {
  text-align: center;
}

.friend-pic-container img {
  display: block;
  margin: auto;
}

.friends-list-link {
  display: flex;
  justify-content: flex-end;
}

.friends-list-link {
  margin-top: 7px;
  margin-right: 8px;
  margin-bottom: 30px;
}

.friends-list-link a {
  color: #cc0000;
}

.friends a:link {
  color: #FF6600;
}
  
.friends a:visited {
  color: #FF6600;
}

/*
========================================
Comment Wall
========================================
*/
.comment-wall .main-section-header {
  margin-bottom: 3px;
}

.comment-wall .main-section-h2 {
  margin-bottom: 0;
}

#comment-counter {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 3px;
}

.comment-wall table {
  margin: auto;
  margin-bottom: 5px;
}

.comment-wall th {
  background-color: rgb(255, 153, 51);
  width: 158px;
  padding: 3px;
  vertical-align: top;
}

.comment-wall td {
  vertical-align: top;
  background-color: rgb(249, 214, 180);
  width: 269px;
  padding: 3px;
}

.comment-wall figcaption,
.comment-wall figure {
  margin: 0;
}

.comment-wall figcaption {
  margin-bottom: 1em;
}

.comment-wall figure {
  margin-bottom: 49.33px;
}

.comment-wall h3 {
  font-size: 10pt;
  margin: 0;
  margin-bottom: 1em;
}

.comment-walls a:link {
  color: black;
}
  
.comment-wall a:visited {
  color: black;
}

.comment-wall p {
  font-weight: normal;
  text-align: left;
  margin: 0;
}

#add-comment {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

/*
========================================
Footer
========================================
*/
footer {
  display: grid;
  grid-template-rows: 16px 39px;
  background-color: rgb(239, 234, 234);
  padding-top: 10px;
  height: 65px;
}

footer a {
  text-decoration: underline;
  font-weight: normal;
  font-size: 8pt;
}

footer ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer li:after {
  content: ' | ';
  font-weight: normal;
}

#last:after {
  content: none;
}

footer small {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  font-size: 8pt;
  font-weight: normal;
}

.off-screen-menu a {
  color: black;
  font-family: sans-serif;
  font-weight: normal;
}
.off-screen-menu a:visited {
  color: black;
}
.off-screen-menu a:hover {
  color: #77cc8b;
}

/* off-screen-menu */
.off-screen-menu {
  background-color: rgb(239, 234, 234);
  height: 100vh;
  width: 100%;
  max-width: 250px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: .3s ease;
  font-family: sans-serif;
  text-decoration: none;
}
.off-screen-menu.active {
  right: 0;
  font-family: sans-serif;
  text-decoration: none;
}

/* nav */
.ham-nav {
  padding: 1rem;
  display: flex;
  background-color: rgb(239, 234, 234);
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: black;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*
========================================
facebook
========================================
*/
 
/*
========================================
Master Container
========================================
*/
.master-container-facebook {
 margin: auto;
 width: 915px;
 background-color: white;
 border: 2px solid rgb(0, 153, 106);
}
 
/*
========================================
Main Header
========================================
*/
.main-header-facebook {
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 100px;
 background-color: rgb(0, 153, 106);
 color: #ffffff;
}

.main-header-facebook h1 {
  color: #77cc8b;
  font-size: 45px;
  padding-left: 470px;
}
 
.main-header-facebook ul {
 list-style-type: none;
}

.main-header-facebook a:link {
 color: #ffffff;
 font-weight: normal;
}
 
.main-header-facebook a:visited {
 color: #ffffff;
}
 
/*
========================================
Search Bar
========================================
*/
.search-bar-facebook {
 width: 200px;
 height: 75px;
 padding-left: 17px;
 padding-top: 10px;
 font-size: 15px;
 border: 2px dashed rgb(0, 153, 106);
}
 
.search-bar-facebook form {
 justify-self: center;
 margin: 0;
}

.search-bar-facebook form [type="text"] {
 width: 160px;
 height: 25px;
 background-color: rgb(239, 234, 234);
}

.search-bar-facebook form [type="radio"] {
 margin-right: .33rem;
}

.search-bar-facebook ul {
 display: flex;
}

.submit-btn-facebook {
 margin: 5px;
 border: 1px solid black;
 padding: 3px 13px;
 background-color: #77cc8b;;
 font-size: 12px;
 border-color: rgb(186, 186, 186);
 color: white;
}

.topnav-facebook {
 padding: 0;
 margin: 8px;
}

.topnav-facebook li:first-child::after {
 content: '|';
 margin: .33rem;
}

.list-options-facebook {
width: 200px;
height: 175px;
margin-top: 5px;
padding-left: 10px;
padding-top: 10px;
font-size: 15px;
border: 2px dashed rgb(0, 153, 106);
}

/*
========================================
Navigation Bar
========================================
*/
.navbar-facebook {
 display: flex;
 align-items: center;
 margin-top: auto;
 background-color: rgb(0, 153, 106);
 height: 26px;
 padding-left: 395px;
}

.navbar-facebook ul {
 display: flex;
 margin: 0 auto;
 padding: 0;
}

.navbar-facebook li::after {
 content: '|';
 margin: .33rem;
 color:  rgb(0, 153, 106);
}

.navbar-facebook li:last-child::after {
 content: '';
}

.navbar-facebook a:hover {
 color: #77cc8b;
}

/*
========================================
Boxes
========================================
*/
.main-section-facebook {
display: grid; 
grid-template-columns: 200px 700px;
}

.side-bar-facebook {
  grid-column-start: 1;
  grid-column-end: 1;
  height: 1000px;
  width: 200px;
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 4px;
}

.main-box-facebook {
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 310px 385px;
  grid-template-rows: 30px 165px 65px 85px 85px 550px;
  border: 2px solid rgb(0, 153, 106);
  height: 1000px;
  width: 697px;
  margin-top: 4px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.contact-box-facebook {
 grid-column-start: 1;
 grid-column-end: 1;
 grid-row-start: 2;
 grid-row-end: 2;
 border: 2px solid rgb(0, 153, 106);
 height: 149px;
 width: 300px;
 margin-left: 10px;
}

.connection-box-facebook {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  border: 2px solid rgb(0, 153, 106);
  height: 50px;
  width: 300px;
  margin-left: 10px;
}

.mutual-friends-box-facebook {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
  border: 2px solid rgb(0, 153, 106);
  height: 70px;
  width: 300px;
  margin-left: 10px;
}

.access-box-facebook {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 5;
  border: 2px solid rgb(0, 153, 106);
  height: 70px;
  width: 300px;
  margin-left: 10px;
}

.friends-box-facebook {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 6;
  border: 2px solid rgb(0, 153, 106);
  height: 555px;
  width: 300px;
  margin-left: 10px;
}

.info-box-facebook {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 6;
  border: 2px solid rgb(0, 153, 106);
  height: 955px;
  width: 365px;
  margin-left: 10px;
}

.contact-box-facebook h2 {
 color: white;
 background-color: rgb(0, 153, 106);
 height: 17px;
 padding-left: 10px;
}

.main-box-facebook h2 {
  color: white;
  background-color: rgb(0, 153, 106);
  height: 17px;
  padding-left: 10px;
}

.connection-box-facebook h2 {
  color: white;
  background-color: rgb(0, 153, 106);
  height: 17px;
  padding-left: 10px;
}

.mutual-friends-box-facebook h2 {
  color: white;
  background-color: rgb(0, 153, 106);
  height: 17px;
  padding-left: 10px;
}

.access-box-facebook h2 {
  color: white;
  background-color: rgb(0, 153, 106);
  height: 17px;
  padding-left: 10px;
}

.friends-box-facebook h2 {
  color: white;
  background-color: rgb(0, 153, 106);
  height: 17px;
  padding-left: 10px;
}

.info-box-facebook h2 {
  color: white;
  background-color: rgb(0, 153, 106);
  height: 17px;
  padding-left: 10px;
}

.contact-images-facebook {
 display: grid;
 grid-template-columns: 150px 150px;
 margin: 0;
 margin-top: 5px;
 margin-left: 10px;
}

.header-2-facebook {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: rgb(0, 153, 106);
  height: 17px;
}

/*
========================================
Footer
========================================
*/
.footer-facebook {
 display: grid;
 grid-template-rows: 16px 39px;
 background-color: rgb(239, 234, 234);
 padding-top: 10px;
 height: 65px;
}

.footer-facebook a {
 text-decoration: underline;
 font-weight: normal;
 font-size: 8pt;
}

.footer-facebook ul {
 display: flex;
 flex-wrap: nowrap;
 justify-content: space-between;
 list-style-type: none;
 padding: 0;
 margin: 0;
}

.footer-facebook li:after {
 content: ' | ';
 font-weight: normal;
}

#last:after {
 content: none;
}

.footer-facebook small {
 display: flex;
 justify-content: center;
 align-items: flex-end;
 height: 100%;
 font-size: 8pt;
 font-weight: normal;
}
